@model Cumulative_1.Models.Teacher

@{
    ViewData["Title"] = "Add New Teacher";
}
<nav>
    <a class="navlink" href="/TeacherPage/List">Back To Teacher List</a>
</nav>
<h2>Add New Teacher</h2>

<form asp-action="Create" method="post">
    <div>
        <label for="TeacherFName">First Name</label>
        <input type="text" name="TeacherFName" required />
    </div>
    <div>
        <label for="TeacherLName">Last Name</label>
        <input type="text" name="TeacherLName" required />
    </div>
    <div>
        <label for="EmployeeNumber">Employee Number</label>
        <input type="text" name="EmployeeNumber" required />
    </div>
    <div>
        <input type="submit" value="Add Teacher" />
    </div>
</form>
